/* CSS */

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2%;
}
.pokeball {
  max-width: 250px;
  max-height: 275px;
  position: absolute;
  right: 0;
  top: 0;
}


@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}
